body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Set a default background color */
  }
  
  .color-container {
    display: flex;
  }
  
  .color-block {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    border: 1px solid #333;
  }
  
  #color1 { background-color: #32adff; }
  #color2 { background-color: #32ff88; }
  #color3 { background-color: #ff3c27; }
  #color4 {background-color: #ee35ff;}
  /* Add more styles for additional color blocks */
  
  